::before,
::after,
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  object-fit: cover;
}

:root {
  --primary-color: purple;
  --secondary-color: yellowgreen;
  --spacing-s: 5px;
  --spacing-m: 20px;
}

main {
  height: 100vh;
  background-image: url("./images/sunrise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel-window-container {
  display: flex;
  height: 100%;
}

.panel {
  flex-grow: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin: 0px var(--spacing-m);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.panel1 {
  background-image: url("./images/animal.jpg");
}
.panel2 {
  background-image: url("./images/ice.jpg");
}
.panel3 {
  background-image: url("./images/rowing.jpg");
}
.panel4 {
  background-image: url("./images/sport.jpg");
}
.panel5 {
  background-image: url("./images/tree.jpg");
}

.panel:hover {
  flex-grow: 2;
}
